/* Estilos Capuly */

.background-think{
  background:#609AEF
}
.color-think{
  color:#609AEF
}
.bg-rock{
  background-image: url('../img/background-rock.png');
}
.div-welcome{
  padding: 1%;
  border-top: 8px solid #5a5a5a;
}
#index-banner{
  border-top: 8px solid #5a5a5a;
}
#index-banner h4{
  text-align: left;
  font-weight: 400;
}
#index-banner div div p{
  text-align: justify;
  margin-top: 10%;
  border-left: 4px solid #a0973a;
  padding-left: 4%;
}
#index-banner .container div div{
  text-align: right;
}
.container div div img{
  width: 300px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
hr {
  box-sizing: content-box;
  height: 0;
}
#logo-container img{
  width: 160px;
  margin-top: 5px;
}

#nav-mobile .logo-mobile a{
  transition: linear .3s;
  text-align: left;
  padding: 5%;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
/*Banner*/
.parallax-banner{
 text-align: center;
}
.parallax-fondo{
  background-color:  #609AEF ;

}
.team-member{
  text-align: center;
}

.parallax-image{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  float: right;
  text-align: center;
}
nav ul a{
  color: #404040;
}


.parallax-container {
  padding: 5% 0px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
    
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #logo-container img{
    width: 140px;
  }
}




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #1976d4  !important;
}


/* Estilos de los botones sociale*/


.buttons-social ul li {
  display: inline-block;
  list-style-type: none;
  float: center;
}

.buttons-social ul li a i {
  /*background: #205D7A;*/
  border-color: #fff;
  border-style: solid;
  border-width: 1px;

  color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2em;

  font-size: 1em;
  text-align: center;
  margin-right: 1em;
  padding-top: 20%;
}
.buttons-social ul li a i:hover {
  opacity: .7;
}



/*formulario contacto*/
@media only screen and (min-width : 940px) {

  .section-capuly {
    margin-left: 20%;
  }
}


@media only screen and (min-width : 940px) {
  .contact-capuly {
    max-width: 80%;
  }
  .contact-capuly button {
    width: 40%;
    margin-left: 30%;
  }
}

@media only screen and (max-width : 940px) {
  .contact-capuly button {
    width: 100%;
  }
}

.capuly-color{
  color: #42a5f5;

}

.capuly-color-grey{
  color: #616161;
}

/*navbar capuly*/
.navbar-capuly{
  color: white !important;
  background: #609AEF;
}


.logo{
  padding-right: 10em !important;
}

@media only screen and (max-width : 940px) {
  .logo{
    padding-right: 7em !important;
  }
}


.member-img{
  width: 60%;
}

.member-name{
  font-size: 20px;
  font-weight: bold;
  color: #1976D2 ;
  padding: 0 10px;
}

.member-cargo{
  margin-bottom: 0px !important;
  text-align: center;
  margin: 0 auto;
}

.member-social ul li a i{
  border-color: orange !important;
  color: orange;
  margin: 0px 5px 0px 0px;
}

.member-social{
  margin-top: 2px;
  padding-left: 0px  !important;
}
.header{
  margin-top: -50px;
}
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/* slider */
.jssorb05 {
  position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('../img/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }        
.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('../img/a22.png') center center no-repeat;
  overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

#room{
  margin-top: 4%;
}
#room .tabs{
  background: #f1f1f1;
}
#room .tabs li{
  border-top: 2px dashed #e2e2e2;
}
#room div i,#servicios div i{
  vertical-align: top;
}
#room div h2,#servicios div h2{
  display: inline-block;
  margin-top: 0;
}
#room .tabs .indicator {
  background-color: #1b99d5!important;
  height: 5px;
}
#room .tabs i{
  color: #f1f1f1;
  margin-right: 10px;
  margin-top: 12px;
}
#room a{
  color: #212121;
}
#room a.active, #room a.active i{
  font-weight: bold;
  color: #1b99d5;
}
#servicios .row{
  text-align: center;
}
#servicios .row .col{
  float: none;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  padding: 10px 5px;
  transition: .5s linear;
}
#servicios .row .col:hover .pulse-button{
 animation: pulses 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
 box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(109, 212, 90, 0.7);
 background: #a0973a;
}
#servicios .row .col p{
  border-top: 2px dashed #ffffff;
  background: #e4e4e4;
}
.pulse-button {  
  transition: .5s linear;
  padding-bottom: 8px;  
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(90, 153, 212, 0.7);
  background: #5a99d4;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
}
.pulse-button:hover {
  animation-play-state: paused;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}
@keyframes pulses {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 212, 99, 0);
  }
}
.modal.modal-fixed-footer {
  height: 90%;
  max-height: 100%;
}
.lean-overlay{
  height: 135%;
}
@media only screen and (max-width: 700px){ 
  .modal .modal-content {
    padding: 5px!important;
  }
}
.navbar-fixed nav ,.navbar-fixed{
    height: 82px;
}
nav ul a {
    padding: 10px 15px;
}
.navbar-fixed i{
  color: #fe2328!important;
}