/* Estilos Capuly */

.background-think{
  background:#609AEF
}
.color-think{
  color:#609AEF
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
hr {
    box-sizing: content-box;
    height: 0;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
/*Banner*/
.parallax-banner{
 text-align: center;
}
.parallax-fondo{
  background-color:  #609AEF ;

}


.parallax-image{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  float: right;
  text-align: center;
}



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
    
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #26a69a  !important;
}


/* Estilos de los botones sociale*/
.buttons-social ul{
    overflow: auto;
}

.buttons-social ul li {
  display: inline-block;
  list-style-type: none;
  float: center;
}

.buttons-social ul li a i {
  /*background: #205D7A;*/
  border-color: #fff;
  border-style: solid;
  border-width: 1px;

  color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2em;

  font-size: 1em;
  text-align: center;
  margin-right: 1em;
  padding-top: 20%;
}
.buttons-social ul li a i:hover {
    opacity: .7;
}



/*formulario contacto*/
@media only screen and (min-width : 940px) {

  .section-capuly {
    margin-left: 20%;
  }
}


@media only screen and (min-width : 940px) {
  .contact-capuly {
    max-width: 80%;
  }
  .contact-capuly button {
    width: 40%;
    margin-left: 30%;
  }
}

@media only screen and (max-width : 940px) {
  .contact-capuly button {
    width: 100%;
  }
}

.capuly-color{
  color: #42a5f5;

}

.capuly-color-grey{
  color: #616161;
}

/*navbar capuly*/
.navbar-capuly{
  color: white !important;
  box-shadow: none;
  background: #609AEF;
}


.logo{
  padding-right: 10em !important;
}

@media only screen and (max-width : 940px) {
  .logo{
    padding-right: 7em !important;
  }
}


.member-img{
  width: 60%;
}

.member-name{
  font-size: 20px;
}

.member-cargo{
  margin-bottom: -14px !important;
  margin-top: -12px !important;
}

.member-social ul li a i{
  border-color: orange !important;
  color: orange;
  margin: 0px 5px 0px 0px;
}

.member-social{
  margin-top: 2px;
  padding-left: 0px  !important;
}


.header{
  margin-top: -50px;
}